.heading{
text-align: center;
font-size: 4rem;
color: rgb(8, 1, 1);
padding: 1rem;
margin: 2rem 0;
}

.heading span{
    color: var(--orange);
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid rgb(232, 158, 56);
    border-radius: 5rem;
    box-shadow: 0 .5rem  1rem black;
    height: 100%;
    object-fit: cover;
}
 

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background: wheat;
    width: 100%;
    padding: 1rem 2rem; 
    text-align: center;
    mix-blend-mode: screen;
}
.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: black;
}
.about .row .content p{
    font-size: 1.5rem;
    color: black;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#d97d2d;
    color: white;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--orange);
}
@media(max-width:450px){
    .heading{
    font: size 3rem;;
    }
    section{
        padding: 3rem;
    }
}